---
layout: default
title: Adventures of Zoe and Louise
description: Track our adventures across the Globe
pagination: 
  enabled: true
---

<h1>Track the adventures of Zoe and Louise as they travel across the globe!</h1>

<div id="map"></div>

<script>
	// This example displays a marker at the center of Australia.
	// When the user clicks the marker, an info window opens.
	
	function initMap() {
		
		// Sets positioning of map when window is opened
        	var middle = {lat: 30.081688, lng: 31.173256};
        	var map = new google.maps.Map(document.getElementById('map'), {
        		zoom: 3,
        		center: middle
        	});
		
		var oldInfoWindow = null;
		var markers = [];
		
		{% for post in paginator.posts %}
            		var contentString{{post.number}} = '<div id="content">' +
              		'<div id="siteNotice">' +
              		'</div>' +
              		'<a target="_blank" href="{{post.url}}"><h2 id="firstHeading" class="firstHeading" align="center">{{post.location}}</h2></a>' + 
              		'<div id="bodyContent" align="center">' +
              		'<h3>{{ post.date | date_to_string }}</h3>' +
              		'<h3>{{post.subtitle}}</h3>' +
              		'<h3>{{post.description}}</h3>' +
              		'<img src="{{post.titleImage}}" class="image2" height="150" align="centre">' +
              		'</div>' +
              		'</div>';
          	 	var infowindow{{post.number}} = new google.maps.InfoWindow({
            			content: contentString{{post.number}}
          		});
          		var marker{{post.number}} = new google.maps.Marker({
            			position: {lat: {{post.lat}}, lng: {{post.lng}}},
            			map: map,
            			title: "{{post.title}}"
          		});
		 	markers.push(marker{{post.number}});
          		marker{{post.number}}.addListener('click', function() {
            			infowindow{{post.number}}.open(map, marker{{post.number}});
				if ( oldInfoWindow != null ){
					oldInfoWindow.close();
				}
				oldInfoWindow = infowindow{{post.number}};
          		});
        	{% endfor %}
		{% for subpost in paginator.subposts %}
			<div class="subpost">
    				<h2 class="subpost-title">{{ page.title }}</h2>
    				<h3 class="subpost-subtitle">{{ page.subtitle }}</h3>
    				<h3 class="subpost-description">{{ page.description }}</h3>
    				{{ content }}
			</div>  
		{% endfor %}
		var markerCluster = new MarkerClusterer(map, markers,
            		{imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
	
	}
</script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvhhyDvSse626-pMa6BoOuOQZNff0xnik&callback=initMap">
</script>
